<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container" style="width: 50%; text-align: left; background-color: #FBE1BE; padding: 20px; margin-top: 20px">
    
    <form action="/<%= @one_memo.question_id %>/memo_update/<%= @one_memo.id %>" method="post">
      
      <div class="form-group">
        <label for="content"  style="color:#FBAC92; font-weight: bold">content</label>
        <textarea class="form-control" id="content" name="content" rows="3" value="content"><%= @one_memo.content %></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
</div>